# TC2-specific configuration

source $SCRIPT_DIR/config/common.config

# SCP
FW_TARGETS="scp"
FW_INSTALL="romfw ramfw"
SCP_PLATFORM="tc2"

# Kernel
declare -A LINUX_defconfig
LINUX_defconfig[path]="linux"
LINUX_defconfig[config]="base.cfg dhcp.cfg devtmpfs.cfg gralloc.cfg mali.cfg ffa.cfg optee.cfg virtio.cfg autofdo.cfg ci700.cfg trusty.cfg disable_mpam.cfg"

# TF-A
TFA_PLATFORM=tc
TC_FLAVOR=2
TFA_GPT_SUPPORT=0
TFA_DEBUG=1
TFA_BUILD_MODE="debug"
make_opts=(
        PLAT=$TFA_PLATFORM
        TARGET_PLATFORM=$TC_FLAVOR
        ARCH=aarch64
        BL33=$OUTPUT_DIR/tmp_build/u-boot/u-boot.bin
        BL32=$OUTPUT_DIR/tmp_build/hafnium/secure_tc_clang/hafnium.bin
        SCP_BL2="$SCP_OUTDIR/scp/bin/tc2-bl2.bin"
        MBEDTLS_DIR="$SRC_DIR/mbedtls"
        SPD=spmd
        SPMD_SPM_AT_SEL2=1
        CTX_INCLUDE_EL2_REGS=1
        LD_LIBRARY_PATH=$TFA_OPENSSL_DIR/lib:$LD_LIBRARY_PATH
        CROSS_COMPILE=$TFA_COMPILER-
        TRUSTED_BOARD_BOOT=1
        GENERATE_COT=1
        ARM_ROTPK_LOCATION=devel_rsa
        ROT_KEY="$TFA_SRC/plat/arm/board/common/rotpk/arm_rotprivk_rsa.pem"
        ARM_GPT_SUPPORT=$TFA_GPT_SUPPORT
        DEBUG=$TFA_DEBUG
        ARM_ARCH_MINOR=5
        HOSTCC=gcc
        CTX_INCLUDE_PAUTH_REGS=1
        BRANCH_PROTECTION=1
        ENABLE_SVE_FOR_NS=1
        ENABLE_SVE_FOR_SWD=1
        CTX_INCLUDE_MTE_REGS=1
        OPENSSL_DIR=$TFA_OPENSSL_DIR

)

make_opts_tfa=(
        ARM_SPMC_MANIFEST_DTS="$TFA_SRC/plat/arm/board/tc/fdts/tc_spmc_optee_sp_manifest.dts"
        SP_LAYOUT_FILE="$TFA_SP_DIR/sp_layout.json"
	TS_SP_FW_CONFIG=1
	BUILD_BASE="${TFA_OUTDIR}/build/"
)

# Trusty
make_opts_trusty=(
        ARM_SPMC_MANIFEST_DTS="$TFA_SRC/plat/arm/board/tc/fdts/tc_spmc_trusty_sp_manifest.dts"
        SP_LAYOUT_FILE="$TRUSTY_SP_DIR/sp_layout_trusty.json"
        BUILD_BASE="${TRUSTY_OUTDIR}/build/"
)

# RSS
RSS_OUTDIR="${OUTPUT_DIR}/tmp_build/rss/"
RSS_BINDIR="${RSS_OUTDIR}/build/bin"
RSS_SRC="${SRC_DIR}/rss"
RSS_BUILD_TYPE="Release"
RSS_PLATFORM="arm/rss"
RSS_COMPILER=$ARM_BARE_METAL/arm-none-eabi
RSS_TOOLCHAIN_FILE="${RSS_SRC}/toolchain_GNUARM.cmake"
RSS_TEST_REPO_PATH="${RSS_SRC}/tf-m-tests"
RSS_IMAGE_NUMBER=4
RSS_LAYOUT_WRAPPER_VERSION="1.5.0"
RSS_SIGN_PRIVATE_KEY="${RSS_SRC}/bl2/ext/mcuboot/root-RSA-3072.pem"
# MCUBoot header size must be a multiple of 0x1000 to match RVBAR constraints
RSS_IMAGE_OFFSET="0x1000"
RSS_SEC_CNTR_INIT_VAL=1
RSS_SIGN_SCP_BL1_NAME="scp_romfw.bin"
RSS_SIGN_SCP_BL1_LOAD_ADDRESS="0x70000000"
RSS_SIGN_SCP_BL1_BIN_SIZE="0x10000"
RSS_SIGN_AP_BL1_NAME_BUILDROOT="bl1-tc.bin"
RSS_SIGN_AP_BL1_NAME_ANDROID="bl1-trusty-tc.bin"
RSS_SIGN_AP_BL1_LOAD_ADDRESS="0x70010000"
RSS_SIGN_AP_BL1_BIN_SIZE="0x20000"

# U-Boot
PLATFORM_CFG="total_compute_defconfig"
EXTRA_CFG="bootargs.cfg"

# Optee
OPTEE_PLATFORM="totalcompute-tc2"
